absl-py==1.0.0
aniso8601==9.0.1
anyio==3.4.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
black==21.12b0
bleach==4.1.0
bullet==2.2.0
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
cloudpickle==1.6.0
colorama==0.4.4
coloredlogs==15.0.1
cycler==0.11.0
daemoniker==0.2.3
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
dill==0.3.4
entrypoints==0.3
executing==0.8.2
fastcore==1.3.27
fastrelease==0.1.12
filelock==3.4.0
Flask==2.0.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
flask-restful-swagger==0.20.2
flask-restful-swagger-3==0.4.6
fonttools==4.28.5
getch==1.0
ghapi==0.1.19
google-auth==2.3.3
google-auth-oauthlib==0.4.6
graphviz==0.19.1
grpcio==1.43.0
gym==0.19.0
humanfriendly==10.0
icecream==2.1.1
idna==3.3
importlib-metadata==4.10.0
inflection==0.5.1
iniconfig==1.1.1
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.10.1
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==2.11.3
json5==0.9.6
jsonschema==4.3.2
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyter-server==1.13.1
jupyterlab==3.2.5
jupyterlab-server==2.10.1
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
lxml==4.7.1
malmoenv==0.0.8
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
minerl==0.4.4
mistune==0.8.4
mypy==0.930
mypy-extensions==0.4.3
nbclassic==0.3.4
nbconvert==5.6.1
nbdev==1.1.23
nbformat==5.1.3
nest-asyncio==1.5.4
notebook==6.4.6
numpy==1.21.5
oauthlib==3.1.1
opencv-python==4.5.4.60
orderedmultidict==1.0.1
packaging==21.3
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.4.1
pluggy==1.0.0
prometheus-client==0.12.0
prompt-toolkit==3.0.24
protobuf==3.19.1
psutil==5.8.0
ptyprocess==0.7.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyglet==1.5.21
Pygments==2.10.0
pyparsing==3.0.6
Pyro4==4.81
pyrsistent==0.18.0
pytest==6.2.5
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.0
requests==2.26.0
requests-oauthlib==1.3.0
-e git+git@github.com:edyirdaw/rocca.git@ba6ce448071a1b9d2ef934acb775de8724d1f108#egg=rocca
rsa==4.8
scipy==1.7.3
Send2Trash==1.8.0
serpent==1.40
simple-term-menu==1.4.1
six==1.16.0
sniffio==1.2.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4.1
terminado==0.12.1
testpath==0.5.0
toml==0.10.2
tomli==1.2.3
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing-extensions==4.0.1
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.2
widgetsnbextension==3.5.2
xmltodict==0.12.0
zipp==3.6.0
